{% extends 'news_base_template.html' %}
{% load static %}
{% block content %}

    <section class="main-news">
        <div class="page-container">
            <div class="section-header section-header__light-green">
                <div class="section-header__title">ГЛАВНЫЕ НОВОСТИ</div>
                <div class="section-header__underline"></div>
            </div>
            <div class="section-content bg-white shadowed">
                <ul class="news-list">
                    {% for news in main_news %}
                        <li class="news-list__item" title="{{ news.title }}">
                            <a href="/news/{{ news.id }}" class="news-list__item__link">
                                <div class="news-list__item__logo">
                                    <img src="{% static 'newsfeed' %}/{{ news.image }}" alt="{{ news.title }}" class="news-list__item__logo__image">
                                </div>
                                <div class="news-list__item__meta">
                                    <span class="meta__datetime">
                                        <i class="far fa-clock"></i>
                                        <span class="meta__datetime__datetime">{{ news.created_at|date:'F d, Y, H:i' }}</span>
                                    </span>
                                    <span class="meta__views">
                                        <i class="far fa-eye"></i>
                                        <span class="meta__comments__views">{{ news.views }}</span>
                                    </span>
                                </div>
                                <h3 class="news-list__item__title">{{ news.title }}</h3>
                            </a>
                        </li>
                    {% endfor %}
{#                    <li class="news-list__item" title="В Москве от коронавируса вылечились более 97 тысяч человек">#}
{#                        <a href="#" class="news-list__item__link">#}
{#                            <div class="news-list__item__logo">#}
{#                                <img src="{% static 'images/news/1/Zdorovie_Denisov(46).jpg' %}" alt="В Москве от коронавируса вылечились более 97 тысяч человек" class="news-list__item__logo__image">#}
{#                            </div>#}
{#                            <div class="news-list__item__meta">#}
{#                                <span class="meta__datetime">#}
{#                                    <i class="far fa-clock"></i>#}
{#                                    <span class="meta__datetime__datetime">Июнь 05, 2020, 10:30</span>#}
{#                                </span>#}
{#                                <span class="meta__comments">#}
{#                                    <i class="far fa-comments"></i>#}
{#                                    <span class="meta__comments__comments">0</span>#}
{#                                </span>#}
{#                            </div>#}
{#                            <h3 class="news-list__item__title">В Москве от коронавируса вылечились более 97 тысяч человек</h3>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="news-list__item" title="В столице заработали ярмарки выходного дня">#}
{#                        <a href="#" class="news-list__item__link">#}
{#                            <div class="news-list__item__logo">#}
{#                                <img src="{% static 'images/news/1/iva(16809).jpg' %}" alt="В столице заработали ярмарки выходного дня" class="news-list__item__logo__image">#}
{#                            </div>#}
{#                            <div class="news-list__item__meta">#}
{#                                <span class="meta__datetime">#}
{#                                    <i class="far fa-clock"></i>#}
{#                                    <span class="meta__datetime__datetime">Июнь 05, 2020, 10:30</span>#}
{#                                </span>#}
{#                                <span class="meta__comments">#}
{#                                    <i class="far fa-comments"></i>#}
{#                                    <span class="meta__comments__comments">0</span>#}
{#                                </span>#}
{#                            </div>#}
{#                            <h3 class="news-list__item__title">В столице заработали ярмарки выходного дня</h3>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="news-list__item" title="Оборот розничной торговли за неделю показал рост более 10 процентов">#}
{#                        <a href="#" class="news-list__item__link">#}
{#                            <div class="news-list__item__logo">#}
{#                                <img src="{% static 'images/news/1/Pyls_ostriiperiodpozadi_Efimovdenisov(10).jpg' %}" alt="Оборот розничной торговли за неделю показал рост более 10 процентов" class="news-list__item__logo__image">#}
{#                            </div>#}
{#                            <div class="news-list__item__meta">#}
{#                                <span class="meta__datetime">#}
{#                                    <i class="far fa-clock"></i>#}
{#                                    <span class="meta__datetime__datetime">Июнь 05, 2020, 10:30</span>#}
{#                                </span>#}
{#                                <span class="meta__comments">#}
{#                                    <i class="far fa-comments"></i>#}
{#                                    <span class="meta__comments__comments">0</span>#}
{#                                </span>#}
{#                            </div>#}
{#                            <h3 class="news-list__item__title">Оборот розничной торговли за неделю показал рост более 10 процентов</h3>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="news-list__item" title="Столичные кинокомпании представят новинки на международном фестивале">#}
{#                        <a href="#" class="news-list__item__link">#}
{#                            <div class="news-list__item__logo">#}
{#                                <img src="{% static 'images/news/1/a5179b6b5b208e3eb55b67e5963a1635(10).jpg' %}" alt="Столичные кинокомпании представят новинки на международном фестивале" class="news-list__item__logo__image">#}
{#                            </div>#}
{#                            <div class="news-list__item__meta">#}
{#                                <span class="meta__datetime">#}
{#                                    <i class="far fa-clock"></i>#}
{#                                    <span class="meta__datetime__datetime">Июнь 05, 2020, 10:30</span>#}
{#                                </span>#}
{#                                <span class="meta__comments">#}
{#                                    <i class="far fa-comments"></i>#}
{#                                    <span class="meta__comments__comments">0</span>#}
{#                                </span>#}
{#                            </div>#}
{#                            <h3 class="news-list__item__title">Столичные кинокомпании представят новинки на международном фестивале</h3>#}
{#                        </a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
    </section>
    <div class="banner banner__middle banner__top size-preview">
        <a href="#" target="_blank" class="banner__link">1049 x 110</a>
    </div>
    <div class="page-container columned-container">
        <div class="column__left">
            <section class="column-block">
                <div class="section-header section-header__yellow">
                    <div class="section-header__title">ПУБЛИКАЦИИ</div>
                    <div class="section-header__underline"></div>
                </div>
                <div class="section-content bg-white shadowed">
                </div>
            </section>
            <section class="column-block">
                <div class="section-header section-header__green">
                    <div class="section-header__title">НОВЫЕ ОБЪЯВЛЕНИЯ</div>
                    <div class="section-header__underline"></div>
                </div>
                <div class="section-content bg-white shadowed">

                </div>
            </section>
        </div>
        <section class="column__right">
            <div class="section-header section-header__red">
                <div class="section-header__title">ЗАВАЛИНКА</div>
                <div class="section-header__underline"></div>
            </div>
            <div class="section-content bg-white shadowed">
                <ul class="talks-list">
                    <li class="talks-list__item">
                        <h3 class="talks-list__item__title"><a href="https://local.yandex.ru/moscow/yuzhnoye-butovo?event_id={id}" target="_blank">Автомобильные пропуска по Москве и МО.</a></h3>
                        <div class="talks-list__item__meta">
                            <span class="meta__public-age">14 дней назад</span>
                            <span class="meta__views">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span class="meta__views__views">15 305</span>
                            </span>
                        </div>
                        <div class="talks-list__item__content">От имени автовладельцев !!<br>Пропуска!!! Мы не ездим массово в метро и на общем транспорте!! Зачем нужны пропуска на передвижение на автомобиле? Кого мы заражаем? По сути, перемещаемся в...</div>
                        <div class="talks-list__item__reactions">
                            <span class="meta__likes">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <span class="meta__likes__likes">51</span>
                            </span>
                            <span class="meta__dislikes">
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                <span class="meta__likes__dislikes">4</span>
                            </span>
                            <a href="https://local.yandex.ru/events/3317340" target="_blank">
                                <span class="meta__comments">
                                    <i class="far fa-comments"></i>
                                    <span class="meta__comments__comments">15</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="talks-list__item">
                        <h3 class="talks-list__item__title"><a href="https://local.yandex.ru/moscow/yuzhnoye-butovo?event_id={id}" target="_blank">Мой роман с короной:</a></h3>
                        <div class="talks-list__item__meta">
                            <span class="meta__public-age">12 дней назад</span>
                            <span class="meta__views">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span class="meta__views__views">16 847</span>
                            </span>
                        </div>
                        <div class="talks-list__item__content">Пишу второй пост про свое приключение.<br>Сразу хочу начать с благодарности: люди! Вы такие хорошие, правда! Спасибо вам за ваше участие и добрые слова! Тут следовали бы обнимашки, но нельзя!)...</div>
                        <div class="talks-list__item__reactions">
                            <span class="meta__likes">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <span class="meta__likes__likes">51</span>
                            </span>
                            <span class="meta__dislikes">
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                <span class="meta__likes__dislikes">4</span>
                            </span>
                            <a href="https://local.yandex.ru/events/3317340" target="_blank">
                                <span class="meta__comments">
                                    <i class="far fa-comments"></i>
                                    <span class="meta__comments__comments">15</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="talks-list__item">
                        <h3 class="talks-list__item__title"><a href="https://local.yandex.ru/moscow/yuzhnoye-butovo?event_id={id}" target="_blank">Посещение МФЦ</a></h3>
                        <div class="talks-list__item__meta">
                            <span class="meta__public-age">11 дней назад</span>
                            <span class="meta__views">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span class="meta__views__views">42 061</span>
                            </span>
                        </div>
                        <div class="talks-list__item__content">Посетила сегодня МФЦ.<br>Я в ужасе.<br>Народу полно.<br>Какая там дистанция,какая запись,какие...</div>
                        <div class="talks-list__item__reactions">
                            <span class="meta__likes">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <span class="meta__likes__likes">51</span>
                            </span>
                            <span class="meta__dislikes">
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                <span class="meta__likes__dislikes">4</span>
                            </span>
                            <a href="https://local.yandex.ru/events/3317340" target="_blank">
                                <span class="meta__comments">
                                    <i class="far fa-comments"></i>
                                    <span class="meta__comments__comments">15</span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

{% endblock %}